@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <form class="p-5">
            <fieldset>
                <legend>Import your file below</legend>
                <div class="form-group">
                    <label for="uploadFile">You Doc File</label>
                    <input type="file" class="form-control-file" id="uploadFile">
                </div>
            </fieldset>
            <button type="button" id="btn-save" class="btn btn-primary">Upload &amp; Import</button>
        </form>
    </div>
</div>


